#
#_____________________________________________________|_._._._._._._._._,
#\____________________________________________________|_|_|_|_|_|_|_|_|_|
#                                                     !
# Archivo configurado por el usuario de RoninDojo ~/.config/RoninDojo/user.conf
#_____________________________________________________|_._._._._._._._._,
#\____________________________________________________|_|_|_|_|_|_|_|_|_|
#                                                     !
#
# Copia el archivo en $HOME/.config/RoninDojo/user.conf luego edita las variables
# antes de una instalación de RoninDojo o una actualización de Dojo
#
# NOTA: Configuración de usuario y contraseña de Mysql sólo son aplicables durante la instalacón inicial.
#

#                                                                                                       #
# NO EDITES ESTE ARCHIVO DIRECTAMENTE YA QUE ESTE ESTA COPIADO EN TU DIRECTORIO ~/.config/RoninDojo     #
#                                                                                                       #

#
# Uncomment abajo para definir valores personalizados.
#
# primary_storage & secondary_storage debe señalar a un número de partición i.e sda1
#
# Ejemplos:
#         primary_storage="/dev/sda1"           # Para SATA
#         primary_storage="/dev/nvme0n1p1"      # Para NVMe
#         NODE_ADMIN_KEY="GLRZigyFihw+PAf1i"    # Utiliza contraseñas aleatorias por el amor de bitcoin
#

##############################
# Repo branch overrides      #
##############################
# Date cuenta de que debes utilizar la reférencia completa de la ruta de acceso cuando estes probando una branch distinta
# a parte de master. i.e origin/branch_name en vez de sólo branch_name

#ronin_dojo_branch="master" # master por defecto
#samourai_commitish=""      # en blanco caerá en master

##############################
# Filesystem paths           #
##############################

#primary_storage=""
#secondary_storage=""

# Instalación de directorio variable SOLO puede ser habilitada durante la Instalación inicial. NO EDITES esto es
# una istalación de RonionDojo existente!
#install_dir=""

#
# Credenciales de Ronin UI
#

 ronin_ui_path debe estar preparado antes de la instalación de Ronin UI service

#ronin_ui_path=""

# Estos valores son para la app de ordenador GUI
#gui_api=""

# Por defecto swap graba encima de la creación de create_swap . Configurado solo en user.conf
#swapfile_size=2096 # Usa solo 2G de swap

##############################
# Samourai Dojo Credenciales #
##############################

#
# ATENTO: Asegurate de que tus contraseñas/claves tiene por lo menos 12 caracteres de largo y contengan letras, numeros y caracteres especiales.
# por defecto RoninDojo genererá una contraseña/clave segura aleatoria para ti. mira ~/RoninDojo/Scripts/generated-credentials.sh para más información
#

##############################
# Bitcoin Daemon             #
##############################

# Cuenta de usuario usada para acceso rcp de bitcoind
# Typo: alfanumérica
#BITCOIND_RPC_USER=""

# Contraseña de la cuenta de usuario utilizada para tener acceso rcp en bitcoind
# Typo: alfanumérica
#BITCOIND_RPC_PASSWORD=""

# Número máximo de conexiones de semejantes en la red
# Type: integer
#BITCOIND_MAX_CONNECTIONS=16

# Máxima capacidad de la mempool en MB
# Type: integer
#BITCOIND_MAX_MEMPOOL=1024

# Tamaño del Db cache en MB
# Type: integer
#BITCOIND_DB_CACHE="1024"

# Optimización de bitcoind db cache.
#bitcoind_db_cache_total=0.6 # Usa un 60% total de RAM

# EXPONE BITCOIND RPC API Y NOTIFICACIONES ZMQ A APPS EXTERNAS
# ESTOS PARAMETROS NO TIENEN EFECTO SI BITCOIND_INSTALL ESTA EN OFF
#
# Expone el RCP API a apps externas
# Atención: No expongas tu RPC API a internet!
# mira BITCOIND_RPC_EXTERNAL_IP
# Valor: on | off
#BITCOIND_RPC_EXTERNAL=on

# Dirección IP usada para exponer la RPC API a apps externas
# Este parametro es inactivo si BITCOIND_RPC_EXTERNAL no esta en 'on'
# Atención: No expongas tu RPC API a internet!
# Valor recomendado:
#
#   linux: 127.0.0.1
#   macos o windows: Dirección IP de la VM operando el anfitrión de docker
# Type: string
#BITCOIND_RPC_EXTERNAL_IP=127.0.0.1

#
# CERRAR
#
# Máximo tiempo para cerrar bitcoind (en segundos)
# Determina en cuanto tiempo Dojo espera para un cierre limpio de bitcoind antes de cerrar el cointainer bitcoind
# Este parametro es inactivo si  BITCOIND_INSTALL  esta en 'off'
# Type: integer
#BITCOIND_SHUTDOWN_DELAY=180

##############################
# Node.js                    #
##############################


# Se requiere la llave del API para acceder los servicios que el servidor proveé
# Guarda esta clave del API en secreto!
# Proporciona un valor con más entropía!
# Typo: alphanumérico
#NODE_API_KEY=""

# Se requiere la llave del API para acceder los servicios de admin/maintenance proveidos por el servidor
# Guarda esta clave de Admin en secreto!
# Proporciona un valor con más entropía!
# Typo: alphanumérico
#NODE_ADMIN_KEY=""

# El Indexer or un servicio de terceros se utiliza para importar y rescanear las direcciones
# Valores: local_bitcoind | third_party_explorer
#NODE_ACTIVE_INDEXER=local_bitcoind

##############################
# MySQL                      #
##############################
# ATENCION: estos valores SOLO se pueden habilitar una vez antes de instalar Dojo

#MYSQL_ROOT_PASSWORD=""
#MYSQL_USER=""
#MYSQL_PASSWORD=""

##############################
# Bitcoin Explorer           #
##############################

# Instala y ejecuta un block explorer dentro de Dojo (recomendado)
# Valor: on | off
#EXPLORER_INSTALL=on

# Se requiere contraseña para acceder al block explorer
# (el acceso del usuario puede ser cualquier cosa)
# Guarda tu contraseña en secreto!
# Proporciona un valor con entropía!
# Tipo: Alfanumérico
#EXPLORER_KEY=""

##############################
# Whirlpool                  #
##############################


# Instala y ejecuta una instancia de whirlpool-cli dentrp de Docker
# Valor: on | off
#WHIRLPOOL_INSTALL=on

# Resincroniza la cuenta de mezclas al inicio ( al iniciarse será más lento)
# Valor: on | off
#WHIRLPOOL_RESYNC=on

#
# CONFIGURACION EXPERTA
#

# Activa debug logs
# Valor: on | off
#WHIRLPOOL_DEBUG=off

# Activa más debug logs
# Valor: on | off
#WHIRLPOOL_DEBUG_CLIENT=off

##############################
# Mempool Space Visualizer   #
##############################

#MEMPOOL_MYSQL_USER=""
#MEMPOOL_MYSQL_PASSWORD=""

#
# La configuración personalizada no funciona? Por ahora solo damos soporte a las variables en ~/RoninDojo/user.conf.example file.
#